<div class="container">
  <div class="row row-centered">
    <div class="col-xs-1 col-md-4"></div>
    <div class="col-xs-10 col-md-4 col-centered">
       <section>
        <h1>{{ title }}</h1>

        <button class="btn btn-default btn-primary btn-lg" ng-click="viewNewList()">New List</button>
        <button class="btn btn-default btn-primary btn-lg" ng-click="viewSavedLists()">View/Edit Saved Lists</button>
        
      </section>
    </div>
    <div class="col-xs-1 col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-xs-1 col-md-4 col-centered"></div>
    <div class="col-xs-10 col-md-4 col-centered">
      <footer>&copy; 2015 Tom Griffey</footer>
    </div>
    <div class="col-xs-1 col-md-4 col-centered"></div>
  </div>
</div>